form {
    margin: 2rem 0
}

.form-section {
    display: grid;
    margin: 1rem;
}

#todo-form input, select, button {
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin-top:0.25rem;
}

.todo-form-title {
    margin-left: 2rem;
}
