body {
    margin: 0;
    padding: 0;
    background-color: #b5c0b2;
    min-height: 100vh;
}


.main {
    background-color: #e3d6d6;
    grid-template-columns: 1fr 2fr 1fr;
}

.nav {
    grid-column: 1;
    background-color: #d4ddd0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.middle {
    grid-column: 2;
    background-color: bisque;
}

.todo-item {
    list-style: none;
}

.todo-item:hover {
    cursor: pointer;
}

.todo-card {
    background-color: white;
}

.todo-card-footer {
    position: relative;
    background-color: #d4ddd0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.side {
    grid-column: 3;
}
